
  body { 
    background-image: url(https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_1600,q_auto:eco,dpr_2,f_auto,fl_progressive/image/vm/7cc6e153-78ff-4b1c-b32e-b8bd75719bec.png);
    background-size:100%;
    background-position: 10px 55px;
  } 
  .one{
      color: white;
  } 
    .flex-col {
        margin: 5px; 
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      flex-direction: column;
      padding: 10px;
      box-sizing: border-box;
      width:30px;
      height:150px;
      border: 1px solid grey;
      border-radius: 30px;
      margin-bottom: -100px;
       margin-top: 80px; 
      box-shadow: 2px 5px 5px 1px grey;


    }
    
    .double {
      display: flex;
      flex: 1;
      flex-direction: row;
      padding: 0px;
      margin:380px 220px 0 200px;
      color: grey;
      border-radius: 50px;
     
      

    }
  .flex-col h3{
      color:grey;
      font-size: medium;

  }
 .one{
       margin-bottom: -20px;
  }
  .two{
    margin-top: -15px;
  }
  .but{
    color:red;
    font-weight: bold;
    height: 40px;
    border:none;
    border-width: 2px;
    border-radius: 7px;
    position: absolute;
    left: 45%;
    top:70%;
    width: 150px;
    font-size: 15px;

  }
  .but:hover{
     color:black;
  }
  
    
    
