

.toplogo{
    height: 45px;
    width:130px;
    margin-left: 10px;
}
.name{
     display:flex;  
    margin-top: 10px;
    margin-left:-100px;
    font-size: 18px;
    justify-content:center;
    align-items: center;
    font-family: Inter-Bold,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
     /* padding: 20px;
       margin: 20px; */

 }
.topnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow:0px 0px 10px  grey;
    height:70px;
         padding: 1%;
     background-color:black;
    background-image: -moz-linear-gradient(black,grey);
      
}
.nav-item{
        color:white;
        font-weight: bolder;
         margin-left: 20px;
         text-decoration: none; 
          flex: 0.07; 
         margin-top: -70px;
    
}
.logos{
    display: flex;
   margin-left:925px ;
   height:10px;
   margin-top: -20px;
   justify-content: space-evenly;


}
 .loc{
    margin-top: -30px;
    display: flex;
    color: white;
}
.par p{
    margin-top: -30px;
    color: white;
}
/* .par{
    margin-top: -30px;
    display: flex;
    color: white;
}  */
.loca{
    margin-top: -20px;
    color:white;
}
.get{
     margin-bottom: 1-0px; 
    background-color:#010114;
    color: aliceblue;
    width: 80px;
    height: 30px;
    border-color: white;
    border-width: 1px;
    margin-top: -30px;
    cursor: pointer;
    /* box-shadow: 2px 2px 2px 2px #888888; */

    /* top:0; */
} 
.get:hover{
    background-color: grey;
     
}
.icon{
    margin-top: -30px;
    color:white;
    
}
.cart{
    margin-top: -30px;
    color: white;
    margin-right: 0px;
}

     
