.videos{
    flex:0.8;
    padding: 40px 20px;
    padding-bottom: 0;
}
 h2{
    color: aliceblue;
    margin-bottom: 20px;
    margin-left: 5px;
}
.videos__videoall{
    display: flex;
    flex-wrap: wrap;
}

.videocard img{
    height: 250px;
    width: 200px;
   
}

.videocard{
     margin: 0px 10px;
}

/* h4{
    color: aliceblue;
}
.videocard{
    width:270px;
    margin-bottom: 40px;
    color: azure;
}
.videocard__thumbnail{
    height:140px;
    width:250px;
} */