

.videocard img{
    height: 250px;
    width: 200px;
   
} 

 /* .videocard{
    margin: 0px 60px;
}   */



 h4,p{
    color:black;
}
.videocard{
    width:200px;
    margin-bottom: 40px;
    color: azure;
    margin: 0px 60px;

}
.videocard__thumbnail{
    height:140px;
    width:250px;
}  